@font-face {
    font-family: alien-encounters;
    src: url(Alien-Encounters-Regular.ttf);
}

/*utils*/

.flex-center-column{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.flex-center-row{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.absolute{
    position: absolute;
}


/*macro structure*/

*{
    margin: 0px;
    padding: 0px;
}



html{
    width: 100%;
    height: 100%;
    background-color: #8c8c8c;
    font-size: 1em;
}

body{
    width: 100%;
    height: 100%;
}

#flex-wrapper{
    height: 100%;
    width: 100%;
}


/*-----------------*/

/*main page*/

/*-----------------*/

#main_page{
    height: 80%;
    width: 80%;

}

#keyboard_container{
    height: 580px;
    width: 800px;
    position: relative;
    display: block;
}



/*-----------------*/

/*keyboard body*/

/*-----------------*/

#keyboard_base{
    width: 100%;
    position: absolute;

}

#keyboard_foreshadow{
    pointer-events:none;
    position: absolute;
    z-index: 999;
    right: 1%;
    opacity: 0.7;
}

/*keyboard shadow*/
#keyboard_shadow{
    background-color: blue;
    position: absolute;
    box-shadow: 0px 10px 10px 0px;
    z-index: -1;
    width: 98%;
    height: 1%;
    top: 97%;
    left: 1%;
}

/*keys*/

.key{
    z-index: 16777271;
    position: absolute;
    width: 6.94%;
    top: 54.4%;
    left: 22.4%;
}

.sharp_key{
    z-index: 16777271;
    position: absolute;
    width: 3.07%;
    top: 54.35%;
    left: 27.5%;
}

#d0{
    left: 29.8%;
}

#e0{
    left: 37.1%;
}

#f0{
    left: 44.52%;
}

#g0{
    left: 51.9%;
}

#a0{
    left: 59.15%;
}

#b0{
    left: 66.5%;
}

#c1{
    left: 73.9%;
}

#d1{
    left: 81.4%;
}

#e1{
    left: 88.9%;
}

#csharp0{
    left: 36%;
}

#fsharp0{
    left: 49.65%;
}

#gsharp0{
    left: 58%;
}

#asharp0{
    left: 65.36%;
}

#csharp1{
    left: 79.1%;
}

#dsharp1{
    left: 87.6%;
}

/*knobs*/

.knob{
    position: absolute;
    width: 5.5%;
    bottom: 55.6%;
}


#knob_1{
    left: 61%;
}

#knob_2{
    left: 70.3%;
}

#knob_3{
    left: 79.6%;
}

#knob_4{
    left: 88.8%;
}

#dial{
    position: absolute;
    top: 14%;

}

#dial_container{
    position: absolute;

    height: 35%;
    width: 10%;
    top: 56%;
    left: 10.3%;
}

/*phongs*/

.phong{
    position: absolute;
    width: 34.3%;
    top: 30.2%;
    left: 61.4%;
}


/*-----------------*/

/*keyboard Screen*/

/*-----------------*/

/*lines*/
#lines{
    position: absolute;
    pointer-events:none;
    z-index: 1;
    width: 40%;
    left: 7%;
    top: 10%;
}


/*screen reflection*/
#screen_reflection{
    position: absolute;
    pointer-events:none;
    z-index: 1;
    width: 27.4%;
    left: 19.4%;
    top: 6.2%;
    opacity: 0.1;
}

#interlacing{
    position: absolute;
    pointer-events:none;
    z-index: 2;
    width: 35.8%;
    left: 8.6%;
    top: 9.8%;
}

/*screen titles*/

#screen_menu{
    position: absolute;
    left: 7.5%;
    top: 10%;
    height: 33%;
    width: 38%;
}

.screen_title{
    margin-top: 4%;
    transition: font-size 0.3s;
    position: relative;
    font-family: alien-encounters;
    font-size: 2.6em;
    cursor: pointer;
    left: 5%;
    top: 2.5%;
}


.screen_title:hover{
    color: #c25656;
    font-size: 2.65em;
}

/*Porfolio screen titles*/

#portfolio_titles{
    display: none;
}

#backarrow{
    font-size: 1.5em;
        z-index: 100;

}

.portfolio_subtitle{
    z-index: 100;
    margin-top: 2.5%;
    transition: font-size 0.3s;
    position: relative;
    font-family: alien-encounters;
    font-size: 0.8em;
    left: 5%;
    top: 7%;
    cursor: pointer;
}

.portfolio_subtitle:hover{
    color: #c25656;
    font-size: 1.0005em;
}

/*Contact screen titles*/

#contact_titles{
    display: none;
}

.contact_image{
    left: 11%;
    top: 36%;
    position: absolute;
    width: 20%;
    cursor: pointer;
}

#github_contact_icon{
    left: 39%;
    top: 36.2%;
    width: 20.5%;
}

#email_contact_icon {
    left: 65%;

    top: 33.6%;
}

    .contact_image:hover{
        fill: red;
        color: red;
    }

/*About screen titles*/

#about_titles{
    display: none;

}

#about_paragraph{

    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    left: 5%;
    font-family: alien-encounters;
}